# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
log/
# ignore data folder
data/

# temp folder for experimentation on local system
temp/


# these are application codebase classes.  exclude such classes
!master_config*
!initialize_master_config*


# ignore csv
*.csv


# ignore compiled files
*.pyc


# ignore __pycache__
__pycache__/

# ignore IDE configs
.idea/


# ignoring build folder
build/

# log files
*.log


# picke files
*.pkl


# log files
*.log


# ignore Mac System File
.DS_Store


# ignore tensor_flow models
*.h5


# ignore json files
*.json

# .env files have  secrets
.env_dev
.env_prod
.env

monitoring/

tmp/
